*{
    box-sizing : border-box;
}
 body
{   
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
} 
img{
    max-width: 100%;
    height: auto;
}
.container{
    width: 95%;
    margin: 0 auto;
}
   
.clearfix::after,
section::after
footer ::after{
    content: '';
    display: block;
    clear: both;
}
 /* col system=======>>
 =======.......>>>*/
[class^=col-]{
   
    width: 100%;
    margin-top: 1em;
}
[class^=col-]:first-child{
    margin-top: 0;
}




@media(min-width : 40rem){

    [class^=col-]{
        float: left;
        padding: .25em;
        width: 100%;
        margin-top: 0;
    }
[class^=col-]:first-child{
    padding-left: 0em;
}
[class^=col-]:last-child{
    padding-right: 0em;
}


.col-3{
    width: 50%;
}

.col-1{
    width: 16.6666%;
}
}
 /* typography =======>>
 =======.......>>>*/
 
 h1{
     font-weight: 300;
     font-size: 1.5rem;
     margin-top: 3%;
     
 }

 .title{
     font-size: 3rem;
     margin-bottom: 1.2em;
     font-weight: 900;
     margin-top: 0%;
 }

 .title span{
     font-weight: 300;
     display: block;
     font-size: .6rem;
}
.title-cta{
    margin:0 0 .5em;

}
.unstyled-list{
    margin: 0;
    padding: 0em;
    list-style-type: none;
}
@media (min-width: 60rem){
    .title{
        font-size: 3.5rem;
    }
}
.button{
    display: inline-block;
    font-size: 1.3rem;
    text-decoration: none;
    border-width: 2px;
    text-transform: uppercase;
    border-style: solid;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 3px 6px #00000029;
    padding: .25em 1.25em;
}
@media(min-width: 60rem){
    .button{
        font-size: 1.5rem;
    }
}


.button-small{
    font-size: 1.5rem;
    font-weight: 700;

}
.button-accent{
    color: black;
   
    border-color:#00ff6c ;
}
.button-accent:hover,
.button-accent :focus{
    background: #00ff6c;
    color: #232323;
    
}

.button-dark{
    color: #232323;
    border-color:black ;
}
.button-dark:hover,
.button-dark :focus{
    background: lightseagreen;
    color: #232323;
    
}

 /* header =======>>
 =======.......>>>*/

 header{
    /*position: absolute;*/
    
    left: 0;
    right: 0;
    margin: 1em;
    
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: -webkit-sticky;
     position: sticky;
     top: 0;
}

nav li{
    display: inline-block;
    margin: 1em;

}
 nav a{
     font-weight: 900;
     text-decoration: none;
     text-transform: uppercase;
     text-size-adjust: .8rem;
     padding: .5rem;
     background: coral;
     color: black;
     
 }

 nav a:hover,
 nav a:focus{
     color: #DDD;
 }
@media (min-width: 60rem){
    .logo{
        float: left;
       }
       nav{
           float: right;
           padding-top: 4.4em;
       }
}
 /* home hero =======>>
 =======.......>>>*/
 .home-hero{
     background-image: url(../img/imagehero.jpg);
     background-repeat: no-repeat;
     padding: 5em;
     background-size: cover;
     background-position: center;
     color: black;

 }

 @media(min-width: 60rem){
     .home-hero{
         height: 90vh;
         padding-top: 35vh;
     }
 }

 /* hero home=======>>
 =======.......>>>*/

.home-about-textbox{    
    background-color: #232323;
    padding: 8em;
    width: 100vw;
    margin-left: -2.5%;
    outline: 2px solid #00ff6c;
    outline-offset: -2.6em;
    color: #00ff6c;
    
    color: #DDD;
    position: relative;
  
    
}

.home-about-textbox h1{
    color: #00ff6c;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0.85em;
    padding: 0.145em;
}

@media (min-width:25rem){
    h1{
        font-size: 1.5rem;
    }
    .home-about-textbox h1{
        top:  .55em;
        padding: .32em; 
    }
}


/* PORTFOLIO
++++++++++++++++=========>>*/
.portfolio{
    margin: 3em 0;
}

.port-item{
    position: relative;
    margin: 0;
}
.port-item img{
    display: block;
}
.port-desc{
    position: absolute;
    z-index: 100%;
    bottom: 0em;
    left: 0;
    width: 50%;
    text-align: center;
    right: 0em;
    color: #DDD;
    background: rgba(0, 0, 0, .6);
    padding: 1em;
    padding-bottom: 2em;
}

.port-desc p{
    margin: 1em;
}

/*@media(min-width: 37rem){
    .port-item{
        width: 50%;
        float: left;
    }
}

@media(min-width: 37rem){
    .port-item{
        width: 33.333333%;
       
    }
}*/

    /* CTA
++++++++++++++++=========>>*/
.cta{
    background-color: #00ff6c;
    padding: 6em 0 ;
    margin-top: -2.98em;
    margin-right: -.85em;
    
    
}

/*footer=======
+++++++++++++++++=*/

footer{
    background: #232323;;
    color:#ddd;
    text-align: left;
    padding: 6em 0;
}